.content {
  padding-top: 100px;
  overflow: hidden;
}

.main_door {
  position: relative;
  max-height: 1000px;
  max-width: 1200px;
  padding: 0 50px;
  margin: auto;
  // background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  aspect-ratio: 6/5;

  &_text {
    position: absolute;
    top: 35%;
    // text-align: center;
    left: 13%;
    margin: auto;
    // padding: 0 50px;
    transform: perspective(500px) rotateY(5deg) rotateZ(2deg);
  }
}

.door_ {
  &h1 {
    display: block;
    font-size: 0.075em;
    font-weight: bold;
  }

  &h2 {
    font-size: 0.05em;
    font-weight: bold;
    text-align: right;
  }

  &separater {
    position: relative;
    // top: 100px;
    left: -20px;
    width: 110%;
    height: 100px;
    background-color: rgba(250, 250, 250);
    transform: perspective(500px) rotateZ(3deg);
    box-shadow: 0px -10px 10px 0 rgba(0, 0, 0, 0.1);
    // clip-path: polygon(0 40%, 100% 66%, 100% 100%, 0 100%);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(250, 250, 250, 1) 100%
    );
  }
}

#logo {
  position: absolute;
  top: 15%;
  right: 5.38%;
  height: 50%;
  aspect-ratio: 1/1;
}

.content_logo_black {
  position: absolute;
  top: 20%;
  left: 18%;
}

.main_info {
  position: relative;
  height: auto;
  max-width: 1100px;
  padding: 0 50px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  aspect-ratio: 2/3;
}

.info {
  &_content {
    &_box {
      // background-color: rgb(255, 184, 184);
      position: relative;
      width: 100%;
      aspect-ratio: 22/9;
      margin: auto;
      margin-bottom: 100px;
      display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;

      &_text {
        // background-color: rgb(255, 166, 107);
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &_image {
        // background-color: rgb(186, 255, 107);
        position: relative;
        display: flex;
        height: 100%;
        top: 0;
        right: 0;
        aspect-ratio: 10/9;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.2);
      }
    }

    &_h1 {
      font-size: (32em / 1200);
      font-weight: bold;
      text-align: left;
      padding: 0 50px;
    }

    &_p {
      font-size: (18em / 1200);
      text-align: left;
      padding: 0 50px;
    }

    &_text_separater {
      height: 16px;
    }
  }

  &_separater {
    position: relative;
    top: -50px;
    left: -20px;
    width: 110%;
    height: 100px;
    background-color: rgba(250, 250, 250);
    transform: perspective(500px) rotateZ(-5deg);
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    // clip-path: polygon(0 40%, 100% 66%, 100% 100%, 0 100%);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(250, 250, 250, 1) 100%
    );
    z-index: 2;
  }
}

.current_project {
  position: relative;
  height: 1000px;
  max-width: 1200px;
  padding: 0 50px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
